# =========================
# Gradle / Build
# =========================
.gradle/
build/
**/build/
.externalNativeBuild/
.cxx/

# =========================
# Local config (IMPORTANTE)
# =========================
local.properties
*.keystore
*.jks
.env
.env.*

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Outputs
# =========================
/releases/
*.apk
*.aab
*.ap_
*.aar

# =========================
# Native / C++
# =========================
*.so
*.o
*.a

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.swp

# =========================
# Test / debug
# =========================
/captures/
outputs/
reports/
crash_nochat.txt
# =========================
# Kotlin
# =========================
.kotlin/
*.class

# =========================
# Keystore
# =========================
keystore.properties
*.keystore
